src/.vs
src/*.user
src/x64
src/vk_ms/*
src/*.spv
src/*.db
src/shaders/*.spv
src/imgui.ini
data/*
*.vs/*
out/*
externs/*
bin/*
obj/*

**.sln
**.vcxproj
**.user
**.filters


# tinystl is not intrduced as a submodule
!externs/tinystl
